<div class="mainDiv">
    <div class="timer">
        <div class="timeBox">
            <p class="heading">Days</p>
            <span id="days"> {{dayZero}}{{daysToDday}} </span>
        </div>
        <div class="timeBox">
            <p class="heading">Hours</p>
            <span id="hours"> {{hourZero}}{{hoursToDday}} </span>
        </div>
        <div class="timeBox">
            <p class="heading">Minutes</p>
            <span id="minutes"> {{minZero}}{{minutesToDday}} </span>
        </div>
        <div class="timeBox">
            <p class="heading">Seconds</p>
            <span id="seconds"> {{secZero}}{{secondsToDday}} </span>
        </div>
    </div>
</div>